
.orders-table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // aligns <h2> left
  height: 1000px;
}

.table-container {
  max-height: 1000px;        
  overflow-y: auto;
  width: 100%;
//   position: relative;
  display: flex;
  justify-content: center;
}
h2{
    margin-top: 64px;
    margin-bottom: 64px;
    // position: absolute;

}
table {
//   width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content; 
  max-width: 100%;
// width: fit-content;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0 0.5rem;
  font-size: 0.95rem;
  text-align: left;
    table-layout: auto; /* important */
    margin: 0 auto;
}

table th,
table td {
//   padding: 0.1rem 0.1rem; /* or even less */
padding: 0;
}

thead th {
    position: sticky;
    top:0;
    background-color: #fff;
    z-index: 1;
  color: $font-grey;
  font-weight: 500;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

tbody td {
    // color: $font-grey;
    // font-weight: 600;
  background: #fff;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}

// table td:last-child,
// table th:last-child {
//   text-align: right;
// }

// tbody tr:hover {
//   background-color: #fafafa;
// }

// .mini-stay-preview {
//   max-width: 200px;
// }

.status-badge {
  text-transform: capitalize;
  font-weight: bold;
}

.status-badge.pending {
  color: #ff9800;
}

.status-badge.accepted {
  color: #4caf50;
}

.status-badge.rejected {
  color: #f44336;
}

.action-buttons {
      display: inline-flex;
  gap: 0.2rem;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0;
  padding: 0;

}

.actions-cell {
  text-align: right;
  padding-right: 0;
//   vertical-align: middle;
}
.action-button {
    padding: 0;
    margin: 0;
}
.approve-btn {
  background-color: #00aa6c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.reject-btn {
  background-color: #dddddd;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.mini-stay-preview {
    height: 150px;
    width: 150px;
}

.stay-col {
  width: 400px; /* or more */
  max-width: 500px;

//   width: 280px; /* or try 300px, adjust to your needs */
//   max-width: 100%;
//   overflow: visible;
//   white-space: normal;

//   white-space: nowrap;
//   border-bottom: none;
}

// .order-status{
//     font-weight: bold;
// }
// .order-status.pending{
//     color: yellow;
// }

// .order-status.rejected{
//     color: red;
// }

// .order-status.accepted{
//     color: green;
// }
