// .stay-info {
//     display: flex;
//     flex-direction: row;
// }

.stay-details-layout {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .stay-info-left {
    flex: 2;
  }
  
  .stay-info-right {
    flex: 1;
    position: sticky;
    top: 100px;
    align-self: flex-start;
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
  }