.app-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.5rem;
    background-color: white;
    font-size: 14px;
    line-height: 18px;

    .footer-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 40px;

		&.stay-layout {
			margin: 0 277px;
		}
	}

    .footer-items {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin: 0;
        }

        span {
            padding: 8px;

            &.local-services {
                color: $clr1;
            }

            &.remote-services {
                color: $clr5;
            }
        }
    }
}