.app-header {
	padding: 1rem 2rem;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 100;

	.header-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 1.5rem;
	}

	.header-left,
	.header-center,
	.header-right {
		flex: 1;
	}

	.header-left {
		display: flex;
		align-items: center;

		.logo img {
			height: 6rem;
			object-fit: contain;
		}
	}

	.header-center {
		display: flex;
		justify-content: center;
	}

	.header-right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}