
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-header {
  position: relative;
  // height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  // height: 56px;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;

  h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    color: #222;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #222;
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0;
  }

  .header-spacer {
    width: 24px; // Balances the close button's width
  }
}

.modal-content {
  background-color: white;
  padding: 0;
  border-radius: 32px;
  width: 568px;
  text-align: center;
  position: relative;
  padding: 24px;
}

.welcome-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  text-align: start;
  padding: 0;
  padding-top: 32px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
//   margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  color: white;
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  margin: 16px 0 0;
}

.switch-to-signup {
  background-color: white;
  font-weight: 500;
  font-size: 16px;
  color: $clr7;
  border-color: green ;
  height: 48px;
  border: 1px solid;
  border-radius: 5px;
  align-content: center;
  
  &:hover{
    background-color: rgb(248, 244, 244);
    cursor: pointer;
  }

}