.stay-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    // gap: .5em;
    gap: 24px;
    // background-color: yellow;


    li {
        &:hover .arrow {
            opacity: 1;
        }
        .actions {
            justify-self: end;

            button {
                padding: .3em .5em;
            }
        }
    }
}