.stay-imgs {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    height: 446.389px;
    color: #FFFFFF;
    width: 100%;
    padding-top: 24px;
    overflow: hidden;
    box-sizing: border-box;
}



.img1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    // width: 560px;
    // height: 503px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}


.stay-imgs-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 211.181px 211.181px;
    gap: 8px;
    height: 100%;
}

.stay-imgs-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img3 {
    border-radius: 0 20px 0 0;
}

.img5 {
    border-radius: 0 0 20px 0;
}
// .stay-imgs {
//     display: grid;
//     grid-template-columns: 1fr 1fr;  
//     gap: 8px;
//     padding-top: 24px;
//     // width: 100%;
//     width: 1220px;
//     overflow: hidden;
//     height: 446.389px;
//     box-sizing: border-box;
// }

// .left-img {
//     width: 520px;
//     height: 422px;


//     .img1 {
//         width: 100%;
//         height: 100%;
//         grid-row: 1 / 3;
//         grid-column: 1 / 2;
//         object-fit: cover;
//         border-radius: 20px 0 0 20px;
//         // display: block;
//     }
// }

// .stay-imgs-right {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//     gap: 8px;
//     width: 560px;
//     height: 100%;
//     object-fit: cover;
// }



// .stay-imgs-right img {
//     grid-template-columns: 272px 272px;
//     grid-template-rows: 211.181px 211.181px;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     // display: block;
// }

// .img3 {
//     border-radius: 0 20px 0 0;
// }

// .img5 {
//     border-radius: 0 0 20px 0;
// }