// .menu-button {
// 	background-color: #f7f7f7;
// 	color:rgb(34, 34, 34);
// 	border: none;
// 	border-radius: 50%;
// 	width: 40px;
// 	height: 40px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	cursor: pointer;
// 	transition: background-color 0.3s;


.dropdown-menu {
	position: absolute;
	top: 120%;
	right: 0;
	background-color: white;
	border: 1px solid #e4e4e4;
	border-radius: 16px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
	padding: 10px 0;
	width: 240px;
	padding: 8px 0;
	z-index: 1000;
}

.dropdown-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

	hr {
		border: none;
		border-top: 1px solid #eee;
		margin: 5px 8px;
	}
}

.dropdown-menu li {
	padding: 12px 20px;
	font-size: 14px;
	color: $clr7;
	cursor: pointer;
	display: flex;
	gap: 4px;
	align-items: center;
	color:rgb(34, 34, 34) ;
}

.dropdown-menu li:hover {
	background-color: #f7f7f7;
}