button {
	border: 0;
	background-color: $clr1;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
}

form > * {
	display: block;
	// width: 200px;
	margin: 10px 0px;
}

.btn-link {
	border: 0;
	background-color: transparent;
	// text-decoration: underline;
	transition: 0.5s;
}
.btn-link:hover {
	background-color: $clr1;
}

.btn-show-more {
      margin-top: 0.5rem;
      margin: 0;
      // background: none;
      background-color: $gray6;
      font-size: 16px;
      border: none;
      color: $clr7;
      padding: 14px 24px 14px 24px;
      font-weight: 500;
      // text-decoration: underline;
      cursor: pointer;
      border-radius: 12px;

      &:hover{
        background-color: $gray8;
      }
    }