// Colors
$clr1: #ce2e6c;
$heartClr:rgb(255, 56, 92);
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222222;

$gray1: #dddddd;
$gray2: #aaaaaa;
$gray3: #777;
$gray4: #333;
$gray5: #6A6A6A;
$gray6: #f2f2f2;
$gray7: #f2f2f2a4;
$gray8: #ebebeb;

$font-grey: #717171;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
