.any-week-picker {
    .react-datepicker {
        width: 786px;
        height: 528.672px;
        margin-top: 6px;
        padding: 0;
        line-height: 20.02px;
        border-radius: 0px;
        border: none;
        font-family: inherit;
        color: #222222;
    }

    .react-datepicker__month-container {
        width: 50%;
    }

    .react-datepicker__header {
        background-color: white;
        border-bottom: none;
        padding: 1rem 0 0 0;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
    }

    .react-datepicker__current-month {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 22px;
        text-align: center;
    }

    .react-datepicker__day-names {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 0 10px;
        text-align: center;

        .react-datepicker__day-name {
            font-weight: 500;
            font-size: 12px;
            color: #6A6A6A;
            position: relative;

            &::after {
                content: attr(title);
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                text-indent: 0;
                text-transform: uppercase;
            }
        }
    }

    .react-datepicker__week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .react-datepicker__day {
        width: 100%;
        text-align: center;
        padding: 0.6rem 0;
        cursor: pointer;
        border-radius: 50%;
        background-color: white;
        color: black;
    }

    .react-datepicker__day--selected {
        background-color: black;
        color: white;
        border-radius: 50%;
    }

    .react-datepicker__day--range-start {
        background-color: black;
        color: white;
        border-radius: 50%;
    }

    .react-datepicker__day:hover {
        border: 1px solid black;
        border-radius: 50%;
        background-color: white;
        color: black;
    }


    .react-datepicker__day--in-range {
        background-color: #F7F7F7;
        color: black;
        border-radius: 0;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end {
        background-color: black;
        color: white;
        border-radius: 50%;
    }

    .react-datepicker__day--disabled {
        background-color: transparent;
        color: #ccc;
        pointer-events: none;
    }

    .react-datepicker__navigation--next {
        top: 1.5rem;
        background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><path d='m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z' fill='%23222222' fill-rule='evenodd'/></svg>") no-repeat center;
        background-size: 12px 12px;
        color: transparent;
        border: none;
    }

    .react-datepicker__navigation--previous {
        top: 1.5rem;
        background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'><path d='m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z' fill='%23222222' fill-rule='evenodd'/></svg>") no-repeat center;
        background-size: 12px 12px;
        transform: rotate(180deg);
        color: transparent;
        border: none;
    }

    .react-datepicker__navigation span {
        display: none;
    }

    .prev-enabled .react-datepicker__navigation--previous {
        visibility: visible;
    }


}